:root {
  --shelf-thickness: 25px;
  --shelfA-z-index: 1000;
  --shelfB-z-index: 500;
  --shelfC-z-index: 200;
}

body,
html {
  height: 100%;
  margin: 0;
  background: #f7f3e9;
  font-family: "Times New Roman", Times, serif;
}

.bookcase {
  display: flex;
  flex-direction: column;
  background: url("textures/wood2.png") repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
}

.shelf {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 400px;
  position: relative;
}

/* Depth of shelf board */
.shelf::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  background-size: contain;
}

#shelfA::before {
  bottom: -12px;
  height: 12px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.4)), url("textures/wood2-h-cropped.png");
  box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.3);
}

#shelfB::before {
  bottom: var(--shelf-thickness);
  height: 5px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url("textures/wood2-h-cropped.png");
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
}

#shelfC::before {
  bottom: var(--shelf-thickness);
  height: 28px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.35)), url("textures/wood2-h-cropped.png");
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* shelf board */
.shelf::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--shelf-thickness);
  background: url("textures/wood2-h-cropped.png");
  background-size: contain;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
}

#shelfA::after {
  z-index: var(--shelfA-z-index);
}

#shelfB::after {
  z-index: var(--shelfB-z-index);
}

#shelfC::after {
  z-index: var(--shelfC-z-index);
}

.shelf-section {
  min-width: 200px;
  position: relative;
}

.board-section {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--shelf-thickness);
}

.shelf-label {
  padding-left: 15px;
  padding-right: 15px;
  background: linear-gradient(to bottom, #b5a66b, #dbc688);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  position: relative;
  white-space: nowrap;
  color: rgb(122, 92, 18);
}

#shelfA .shelf-label {
  z-index: calc(var(--shelfA-z-index) + 1);
}

#shelfB .shelf-label {
  z-index: calc(var(--shelfB-z-index) + 1);
}

#shelfC .shelf-label {
  z-index: calc(var(--shelfC-z-index) + 1);
}

/* light glare */
.shelf-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  background: radial-gradient(ellipse closest-side at center, rgba(255, 255, 255, 0.75), transparent);
}

.content-section {
  margin-bottom: var(--shelf-thickness);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.book {
  height: 200px;
  background: #a2504a;
  margin: 0 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 40px;
  transform-style: preserve-3d;
}

.book-face {
  position: absolute;
}

.book-right-face {
  transform-origin: left;
  right: 100%;
  background-color: #8c453f;
}

.book-left-face {
  transform-origin: right;
  left: 100%;
  background-color: #8c453f;
}

.book-top-face {
  transform-origin: bottom;
  bottom: 100%;
  background-color: darkgray;
}

.book-bottom-face {
  transform-origin: top;
  top: 100%;
  background-color: darkgray;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 1100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
  padding-top: 60px;
  transition: visibility 0s linear 0.3s, opacity 0.3s; /* Fade in background */
}

.modal-active {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  background-color: rgba(0, 0, 0, 0.5); /* Darken the background */
}

.modal-content {
  background-color: rgba(255,255,255,0.4);
  margin: 5% auto; /* 5% from the top and centered */
  padding: 20px;
  width: 80%;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  color: #333;
  font-family: Arial, sans-serif;
  display: flex;
}

.modal-active .modal-content {
  opacity: 1;
  transform: scale(1);
}

.modal-image {
  flex: 1; /* Takes half the space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.university-logo {
  max-height: 90%;
  max-width: 100%;
}

.modal-info {
  flex: 2; /* Takes the remaining space */
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlight-box {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-bottom: 20px;
}

#modalMasters .highlight-box {
  border-left: 4px solid #c12033;
}

#modalBachelors .highlight-box {
  border-left: 4px solid #492f24;
}

.gpa-label {
  margin-right: 5px;
}

.gpa-value {
  font-size: 1.25em;
  font-weight: bold;
}

.graduation-date {
  margin-top: 10px;
}

.close {
  color: #333;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  font-size: 24px;
  margin-bottom: .5em;
}

.modal-content h3 {
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

.modal-content p, .modal-content li {
  font-size: 16px;
  line-height: 1.6;
}

/* .modal-content strong {
  color: #007bff;
  font-weight: normal;
} */

.modal-content ul {
  list-style-type: none; /* Remove default bullets */
  padding: 0; /* Remove default padding */
}

.modal-content li::before {
  content: "•";
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -0.2em;
}

/* Add responsiveness */
@media screen and (max-width: 768px) {
  .modal-content {
    flex-direction: column; /* Stack columns vertically on smaller screens */
  }

  .modal-right-column {
    padding-left: 0; /* Reset padding */
  }
}