body,
html {
  height: 100%;
  margin: 0;
  background: #f7f3e9;
  font-family: "Times New Roman", Times, serif; /* Traditional book serif font */
}
.bookcase {
  display: flex;
  flex-direction: column;
  background: url("textures/wood2.png") repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
}
.shelf {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 400px;
  position: relative;
}

/* shelf board */
.shelf::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  background: url("textures/wood2-h-cropped.png");
  background-size: contain;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.shelf-section {
  display: flex;
  min-width: 200px;
}

.book {
  height: 200px;
  background: #a2504a;
  margin: 0 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  transform-style: preserve-3d;
}

.side-face {
  position: absolute;
}

.right-face {
  /* This will become the right side of the box */
  transform-origin: left;
  right: 100%;
  background-color: #8c453f;
}

.left-face {
  /* This will become the left side of the box */
  transform-origin: right;
  left: 100%;
  background-color: #8c453f;
}

.top-face {
  /* This will become the top side of the box */
  transform-origin: bottom;
  bottom: 100%;
  background-color: darkgray;
}

.bottom-face {
  /* This will become the bottom side of the box */
  transform-origin: top;
  top: 100%;
  background-color: darkgray;
}

#bookBachelors {
  width: 85px;
}
#bookMasters {
  width: 70px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 5px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}